@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1::-moz-selection {
  background: yellow;
}
h1::selection {
  background: yellow;
}
u::-moz-selection {
  background: yellow;
}
u::selection {
  background: yellow;
}
.spam-area::-moz-selection {
  background: yellow;
}
.spam-area::selection {
  background: yellow;
}

header {
  height: 100vh;
  overflow: hidden;
  background-color: #f4f8fb;
}

h1 {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
  color: #b87eec;
  text-transform: uppercase;
}
